#wrapper { 
    background-image: url("http://www.unsigneddesign.com/Seamless_background_textures/1200px/seamlesstexture1_1200.jpg");
    position: absolute;
    top: 0; 
    left: 0;
    margin: 0;
    padding: 0;
        }
        
header {
    margin: 0;
    padding: 0;
    text-align: center;
    border-bottom: 1px solid black;
    text-shadow: 4px 3px 0px rgba(0,0,0,0.2);
    font-family: Gill Sans;
    background-image: url("http://image.cdnllnwnl.xosnetwork.com/pics32/800/TF/TFHQENJBGDSKCLG.20120917164009.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    padding-bottom: 5%;
        }
h1 { 
    margin:0;
    padding:0;
    color: white;
    }

li {
    list-style-type:none; 
    display: inline;
}

ul {
    text-align: center;
    }

#morestuff {
    float: right;
    width: 20%;
        }

img {
    width: 15%;
    padding-left: 3%;
    margin-top: 11%;
    }
    
p {
    float: left;
    width: 30%;
    margin-top: 15%;}
    
#spacing {padding-top:40%;}

a { text-decoration: none;}

a img:hover{width:20%; height: 20%}
    
    
            